svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1){
    margin-right: 40px;
}
.card:nth-child(3){
    margin-left: 40px;
}
.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(400 - (400*94)/100);
    stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(400 - (400*94)/100);
    stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(400 - (400*86)/100);
    stroke: #ff04f7;
}