.wrapper {
  text-align: center;
  margin-top: 200px;
  
}
.wrapper .item {
  visibility: hidden;
  display: none;
}
.wrapper h2 {
  font-size: 50px;
  margin: 0;
  color: #eee;
  text-align: left;
}
@media only screen and (max-width:768px){
    .wrapper {
        margin-top: 50px;
        text-align: center; 
    }
   .wrapper h2 {
       font-size: 40px;
       margin: 0;
       color: #eee;
       text-align: left;
   }
}
.wrapper > div {
  min-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items:baseline;
  font-weight: bold;
  color: crimson;
  font-size: 25px;
  margin-top: 10px;
}
@media only screen and (max-width:768px){
     .wrapper > div {
        min-height: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: flex;
        align-items: baseline;
        font-weight: bold;
        color: crimson;
        font-size: 18px;
        margin-top: 5px;
    }
}
.wrapper > div:after {
  content: "";
  width: 10px;
  height: 4px;
  display: block;
  background: white;
  color: orange;
  margin-bottom: 4px;
  margin-left: 2px;
  animation-duration: 250ms;
  animation-name: fade;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}