body{
    font-family: "Fira Code",monospace;
}
.section_height{
    height: 640px;
}
.section_height_certi{
    height: 600px;
}
.section_height_about{
    height: 540px;
}
.section_height_skills{
    height: 700px;
}
.section_spacing{
    padding-top: 30px;
}
.section_spacing_certi{
    padding-top: 60px;
}
.homepage_icon{
    width: 100%;
    margin-top: 100px;
}
.homepage_button{
    float: left;
    margin-top: 10px;
}
.navigation_bar{
    opacity: 0;
}
.social_icons{
    float: left;
    margin-top: 30px;
}
.social_icons2{
    float: left;
    margin-top: 10px;
}
.social_icon_width{
    width: 20%;
}
#about{
    background-color: #000;
}
.image_about{
    width: 60%;
    align-items: center;
    left: 50%;
    margin-bottom: 20px;
}
@media only screen and (max-width:768px){
    .image_about{
        width: 40%;
    }
    .section_spacing_certi {
        padding-top: 30px;
    }
}
.heading{
    color: #eee;
    font-size: 30px;
    
}
.fa-cube{
    color: crimson;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid white;
  margin-top: 13px;    
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #eee;
}
th{
    background-color: crimson;
    
}
td:hover{
    color: #000;
}
tr:hover {
    background-color:#f5f5f5;
    color: #000;
}
#achievements{
    background-color: #000;
}
.achievement_icon{
    width: 5%;
}
.hackerrank_icon{
    width: 50%;
}
.hackcbs_icon{
    width: 60%;
}
.CB_icon{
    width: 30%;
}
.clr-white{
    color: #eee;
    margin-top: 10px;
}
.clr-white_cn{
    color: #eee;
    margin-top: 15px;
}
.clr-white_cb{
    color: #eee;
    margin-top: 50px;
}
.homepage_button_achievements{
    margin-top: 10px;
}
.section_height_achievements {
    height: 790px;
}
.section_height_education {
    height: 750px;
}
.icon_row_spacing{
    margin-top: 70px;
}
#education{
    background-color: #000;
}
.timeline_heading{
    color: #eee;
}
.fa-university,.fa-graduation-cap,.fa-star{
    color: crimson;
}
.education_icon{
    width: 80%;
    margin-top: 100px;
}
#skills{
    background-color: #000;
}
.skill_icon{
    width: 100%;
    margin-top: 70px;
}
.skill_text{
    font-size: 20px;
    color: #eee;
    margin-top: 160px;
    
}
#certification{
    background-color: #000;
}
.card_certi{
    border-radius: 5px;
    background-color: #eee;
}
.certi_spacing{
    margin-top: 20px;
}
.certi_para{
    font-weight: 600;
}
.card_para:hover{
    background-color: crimson;  
}
.credentials{
    font-size: 10px;
}
.certi_spacing_col{
    margin-top: 0px;
}
.certi_icon{
    margin-top: 20px;
}
#contact{
    background-color: #000;
}
.section_height_contact{
    height: 400px;
}
.contact_icon{
    width: 25%;
}
.contact_para{
    font-weight: 600;
    font-size: 20px;
    color: #eee;
    margin-top: 20px;
}
.section_spacing_contact{
    margin-top: 50px;
}
.contact_spacing{
    margin-top: 0px;
}
.developer_para{
    color: darkgrey;
    font-size: 15px;
    margin-top: 75px;
}
@media only screen and (max-width:768px){
    .homepage_icon {
        margin-top: 20px;
        width: 50%;
    }
    .social_icons {
        float: left;
        margin-top: 25px;
    }
    .social_icons2 {
        float: left;
        margin-top: 10px;
    }
    .section_height {
        height: 630px;
    }
    .section_height_about {
        height: 510px;
    }
    .section_height_achievements {
        height: 1270px;
    }
    .section_height_skills {
        height: 1810px;
    }
    .section_height_education {
        height: 1130px;
    }
    .image_about{
        display: none;
    }
    .education_icon{
        display: none;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid white;
    }
    .achievement_icon {
        width: 10%;
    }
    .icon_spacing {
        margin-top: 50px;
    }
    .icon_spacing_hack{
        margin-top: 20px;
    }
    .icon_row_spacing {
        margin-top: 50px;
    }
    .CB_icon {
        width: 70%;
    }
    .section_spacing_education {
        padding-top: 50px;
    }
    .skill_icon {
        display: none;
    }
    .section_height_certi {
        height: 1470px;
    }
    .certi_spacing_col {
        margin-top: 20px;
    }
    .certi_icon{
        margin-top: 0px;
    }
    .contact_spacing{
        margin-top: 25px;
    }
    .section_height_contact {
        height: 650px;
    }

    .developer_para {
        color: darkgrey;
        font-size: 15px;
        margin-top: 26px;
    }
}